$calendar-width: 100%;// - 6rem);
$lineheight: 1.54rem;
$day-width: 100%/7;
$labelheight: 1.60rem;//100%/24;
$stripe: #fcf1d4;
$hourdivider: 1px solid #dcdcdc;
$verylightgrey: #eee;
$lightgrey: #f4f4f4;
$grey: #cdcdcd;
$darkgrey: #bcbcbc;
$cellpadding: .25rem;
$anchor: #018fe2;
$white: #fff;
$allday: #50b4ff;
$hour: #003344;
$calevent: #ffffcc;
$calborder: 1px solid $darkgrey;
$dayborder: 1px solid $grey;
$lightborder: 1px solid $lightgrey;

@mixin weekno {
  margin: .1rem .1rem .1rem .2rem;
  text-align: center;
  padding: .1rem;
  line-height: 1.3rem;
  background-color: $darkgrey;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}
@mixin multiday {
  display: block;
  .inner {
    background-color: $anchor;
    color: $white;
    padding: 0 0.3rem;
    margin-bottom: .2rem;

    a {
      color: $white;
      text-decoration: none;
      border-bottom: none;
    }
  }
}
@mixin allday {
  background-color: $allday;
  color: $white;
  padding: 0 0.3rem;
  margin-bottom: .2rem;
  a {
    color: $white;
    text-decoration: none;
    border-bottom: none;
  }
}

.view-calendar {

  .view-header {
    h3 {
      font-size: 140%;
    }
  }

  .view-content {

    .calendar {
      width: $calendar-width;
      border: $calborder;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;

      .data {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .weekno {
          position: absolute;
          a {
            @include weekno;
          }
        }

        .headings,
        .multidays,
        .alldays,
        .otherdays {
          display: flex;
          flex-direction: row;
          .inner {
            padding-top: .1rem;
            min-height: .1rem;
          }
          .day {
            flex: 0 0 $day-width;
            box-sizing: border-box;
            border-left: $dayborder;
            overflow: hidden;

            //&:nth-child(7) {
              //border-right: none;
            //}

            //&.outside {
            //  display: none;
            //}

          }
        }

        .headings {
          text-align: center;

          .day {
            .labels {
              display: flex;
              flex-direction: column;

              .label {
                box-sizing: border-box;
                height: $lineheight;
                border-top: $lightborder;
              }
            }

            .header {
              box-sizing: border-box;
              border-bottom: $dayborder;
              padding: .2rem 0;
              background-color: $lightgrey;
            }

            .date {
              box-sizing: border-box;
              padding: .2rem 0;
              //border: $calborder;
            }

            &.prefix,
            &.suffix {
              .date {
                color: $darkgrey;
              }
            }
          }
        }

        .multidays {
          min-height: .3rem;
          display: block;

          .multiday {
            @include multiday;
          }
        }

        .alldays {
          .day {
            flex: 0 0 $day-width;
            border-top: $dayborder;
            .inner {
              @include allday;
            }
          }
        }

        .otherdays {
          .day {
            flex: 1 1 auto;
            .hour {
              .inner {
                border-radius: .5rem;
                border: $dayborder;
                background-color: $calevent;
                padding: .3rem;
                overflow: hidden;
              }
            }
            .labels {
              display: flex;
              flex-direction: column;
              .label {
                box-sizing: border-box;
                height: $lineheight;
                border-top: $lightborder;
              }
            }
          }
        }
      }

      &.month {
        flex-direction: column;
        .multidays {
          border-top: $dayborder;
          border-bottom: $dayborder;
        }
        .alldays {
          .inner {
            @include allday;
          }
        }
      }

      &.week {
        > .labels {
          flex: 0 0 4rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .weekno {
            font-size: 125%;
            a {
              @include weekno;
            }
          }
          .hour-label {
            display: flex;
            flex-direction: column;
            .label {
              box-sizing: border-box;
              height: $lineheight;
              border-top: $lightborder;
              &:first-child {
                border-top: $calborder;
              }
            }
          }
        }
      }

      &.day {
        > .data {
          .headings {
            flex-direction: column;
          }
          .otherdays {
            flex-direction: column;
            .time {
              position: relative;
              .label {
                position: absolute;
                left: 5rem;
                h2 {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 768px) {
  .view-calendar {
    .view-content {
      .calendar {
        .data {
          .otherdays {
            .day {
              flex: 0 0 $day-width;
            }
          }
        }
      }
    }
  }
}

