/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 61, ../sass/_calendarstyles.scss */
.view-calendar .view-header h3 {
  font-size: 140%;
}
/* line 68, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar {
  width: 100%;
  border: 1px solid #bcbcbc;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
/* line 75, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
/* line 81, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .weekno {
  position: absolute;
}
/* line 83, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .weekno a {
  margin: .1rem .1rem .1rem .2rem;
  text-align: center;
  padding: .1rem;
  line-height: 1.3rem;
  background-color: #bcbcbc;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}
/* line 88, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings,
.view-calendar .view-content .calendar .data .multidays,
.view-calendar .view-content .calendar .data .alldays,
.view-calendar .view-content .calendar .data .otherdays {
  display: flex;
  flex-direction: row;
}
/* line 94, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings .inner,
.view-calendar .view-content .calendar .data .multidays .inner,
.view-calendar .view-content .calendar .data .alldays .inner,
.view-calendar .view-content .calendar .data .otherdays .inner {
  padding-top: .1rem;
  min-height: .1rem;
}
/* line 98, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings .day,
.view-calendar .view-content .calendar .data .multidays .day,
.view-calendar .view-content .calendar .data .alldays .day,
.view-calendar .view-content .calendar .data .otherdays .day {
  flex: 0 0 14.28571%;
  box-sizing: border-box;
  border-left: 1px solid #cdcdcd;
  overflow: hidden;
}
/* line 115, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings {
  text-align: center;
}
/* line 119, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings .day .labels {
  display: flex;
  flex-direction: column;
}
/* line 123, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings .day .labels .label {
  box-sizing: border-box;
  height: 1.54rem;
  border-top: 1px solid #f4f4f4;
}
/* line 130, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings .day .header {
  box-sizing: border-box;
  border-bottom: 1px solid #cdcdcd;
  padding: .2rem 0;
  background-color: #f4f4f4;
}
/* line 137, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings .day .date {
  box-sizing: border-box;
  padding: .2rem 0;
}
/* line 145, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .headings .day.prefix .date, .view-calendar .view-content .calendar .data .headings .day.suffix .date {
  color: #bcbcbc;
}
/* line 152, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .multidays {
  min-height: .3rem;
  display: block;
}
/* line 156, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .multidays .multiday {
  display: block;
}
/* line 33, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .multidays .multiday .inner {
  background-color: #018fe2;
  color: #fff;
  padding: 0 0.3rem;
  margin-bottom: .2rem;
}
/* line 39, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .multidays .multiday .inner a {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/* line 162, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .alldays .day {
  flex: 0 0 14.28571%;
  border-top: 1px solid #cdcdcd;
}
/* line 165, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .alldays .day .inner {
  background-color: #50b4ff;
  color: #fff;
  padding: 0 0.3rem;
  margin-bottom: .2rem;
}
/* line 51, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .alldays .day .inner a {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/* line 172, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .otherdays .day {
  flex: 1 1 auto;
}
/* line 175, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .otherdays .day .hour .inner {
  border-radius: .5rem;
  border: 1px solid #cdcdcd;
  background-color: #ffffcc;
  padding: .3rem;
  overflow: hidden;
}
/* line 183, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .otherdays .day .labels {
  display: flex;
  flex-direction: column;
}
/* line 186, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar .data .otherdays .day .labels .label {
  box-sizing: border-box;
  height: 1.54rem;
  border-top: 1px solid #f4f4f4;
}
/* line 196, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.month {
  flex-direction: column;
}
/* line 198, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.month .multidays {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}
/* line 203, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.month .alldays .inner {
  background-color: #50b4ff;
  color: #fff;
  padding: 0 0.3rem;
  margin-bottom: .2rem;
}
/* line 51, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.month .alldays .inner a {
  color: #fff;
  text-decoration: none;
  border-bottom: none;
}
/* line 210, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.week > .labels {
  flex: 0 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 215, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.week > .labels .weekno {
  font-size: 125%;
}
/* line 217, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.week > .labels .weekno a {
  margin: .1rem .1rem .1rem .2rem;
  text-align: center;
  padding: .1rem;
  line-height: 1.3rem;
  background-color: #bcbcbc;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
}
/* line 221, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.week > .labels .hour-label {
  display: flex;
  flex-direction: column;
}
/* line 224, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.week > .labels .hour-label .label {
  box-sizing: border-box;
  height: 1.54rem;
  border-top: 1px solid #f4f4f4;
}
/* line 228, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.week > .labels .hour-label .label:first-child {
  border-top: 1px solid #bcbcbc;
}
/* line 238, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.day > .data .headings {
  flex-direction: column;
}
/* line 241, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.day > .data .otherdays {
  flex-direction: column;
}
/* line 243, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.day > .data .otherdays .time {
  position: relative;
}
/* line 245, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.day > .data .otherdays .time .label {
  position: absolute;
  left: 5rem;
}
/* line 248, ../sass/_calendarstyles.scss */
.view-calendar .view-content .calendar.day > .data .otherdays .time .label h2 {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  /* line 267, ../sass/_calendarstyles.scss */
  .view-calendar .view-content .calendar .data .otherdays .day {
    flex: 0 0 14.28571%;
  }
}
