{#
/**
 * @file
 * Template to display a view as a calendar month.
 *
 * Available variables:
 * - rows: An array of data.
 *
 */
#}
{{ attach_library('calendar/calendar') }}
<div class="calendar day">
  <div class="data">
    <div class="headings">
      {% for weekcounter,row in rows %}
        <div class="weekno">
          {% if(row.linkdata.week_route) %}
          <a href="{{ path(row.linkdata.week_route, {'arg_0': row.linkdata.year ~ row.linkdata.week }) }}">{{ row.linkdata.week }}</a>
          {% endif %}
        </div>
        {% for day in row.weekdays %}
          {% if loop.first  %}
            <div class="date">{{ day.date }}</div>
            <div class="header">{{ day.header }}</div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>

    {# multiday events are rendered first #}
    <div class="multidays">
      {% for weekcounter,row in rows %}
        {% for day in row.weekdays %}
          {% for event in day.multiday %}
{#            {% set offset = event.offset.d * 100 / 7 %}#}
{#            {% set length = (event.length.d - event.offset.d) * 100 / 7 %}#}
            <div class="multiday" style="display: block;"><div class="inner">{{- event.row -}}</div></div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>

    {# next allday events #}
    <div class="alldays">
      {% for weekcounter,row in rows %}
        {% for day in row.weekdays %}
          <div class="day">
            {#          {{ row.date }}#}
            {% for event in day.allday %}
              <div class="allday"><div class="inner">{{- event.row -}}</div></div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>

    {# render other events based on time and duration #}
    <div class="otherdays">
      {% for weekcounter,row in rows %}
        {% for day in row.weekdays %}
          {% for hour,events in day.other %}
            <div class="time">
              {{ hour }}
              <div class="label">
              {% for event in events %}
                {# @TODO get line height from css? #}
                {% set height = event.length.h * 1.60 %}
                <div class="hour" style="height: {{ height }}rem; background-color: {{ event.color }};">{{- event.row -}}</div>
              {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

