{#
/**
 * @file
 * Template to display a view as a calendar month.
 *
 * Available variables:
 * - day_names: An array of the day of week names for the table header.
 * - rows: An array of data for each day of the week.
 * - view: The view.
 * - calendar_links: Array of formatted links to other calendar displays - year, month, week, day.
 * - display_type: year, month, day, or week.
 * - block: Whether or not this calendar is in a block.
 * - min_date_formatted: The minimum date for this calendar in the format YYYY-MM-DD HH:MM:SS.
 * - max_date_formatted: The maximum date for this calendar in the format YYYY-MM-DD HH:MM:SS.
 * - date_id: a css id that is unique for this date, it is in the form: calendar-nid-field_name-delta
 *
 * @ingroup themeable
 */
#}
<div class="multiday">
{% for row in rows %}
  {% if(row.content['multiday'] is same as(1)) %}
    {% if(row.content['comparator']['#day'] is same as(day)) %}
      <div class="inner" style="width: {{ row.content['multidaywidth'] }}00%">{{ row.content['multidaypos'] ~ row.content['title'] }}</div>
      <div class="inner pos{{- row.content['multidaypos'] -}}">{{- row.content['title'] -}}</div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
{#<div class="allday">#}
{#  {% for row in rows %}#}
{#    {% if(row.content["allday"] is same as(1)) %}#}
{#      {% if(row.content['comparator']['#day'] is same as(day)) %}#}
{#        <div class="inner">{{- row.content['title'] -}}</div>#}
{#      {% endif %}#}
{#    {% endif %}#}
{#  {% endfor %}#}
{#</div>#}
{#{% for row in rows %}#}
{#  {{- dump(row.content['#row']) -}}#}
{#{% endfor %}#}
{#{% for row in rows %}#}
{#  {%  if(row.content['multiday']) %}#}
{#    {% if(row.content['#cache']['keys'][2] is same as('1000')) %}#}
{#      {% if(day is same as('20190918')) %}#}
{#        {{ dump(row.content['comparator']['#day']) }}#}
{#      {% endif %}#}
{#    {% endif %}#}
{#  {% endif %}#}
{#{% endfor %}#}
