{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('calendar/calendar') }}

<div class="calendar year">
  <div class="container">
    {% for m in year %}
      {% include '@templates/calendar-mini-month.html.twig' with {'prefix': m.prefix, 'suffix': m.suffix, 'startcal': m.startcal, 'endcal': m.endcal} %}
    {% endfor %}
  </div>
</div>